<div data-track-id="<%= track.id%>" class="track-content">
  <div class="container m-0 p-0">
    <div class="row">
      <div class="col-3 pe-0">
        <% if track.image_url %>
          <%= image_tag track.image_url, class: ("thumb-img-spotify img-fluid") %>
        <% end %>
      </div>
      <div class="col-7 align-self-center infos-track">
        <p><b><%= track.title %></b></p>
        <p><%= track.artist %></p>
      </div>
      <div class="col-2 align-self-center">
        <%= image_tag 'drag_and_drop.png' %>
      </div>
      <!-- <div class="col-1 align-self-center p-0 m-0.25">
        <%= link_to '', sequence_shuffle_a_track_path(sequence, track), class: :btn_shuffle_song, style: "background:url(#{image_path 'cta_shuffle_song.svg'})", data: {turbo_method: :shuffle, turbo_confirm: "Etes vous sur de vouloir modifier cette chanson?"} %>
      </div> -->
    </div>
  </div>
</div>
