<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="titre-page">CREER UNE SESSION</p>
      <div class="card-description">
        <h1>Session <%= @music_session.name %></h1>
        <p class="session-description"><%= @music_session.description %></p>
        <p><span class="tag-category">#<%= @music_session.category %></span></p>
        <div class="duree-total-session">
        <!-- Deplacer cette méthode Total Time dans le model afin de pouvoir l'appeler partout -->
          <% @total_time = 0 %>
          <% @music_session.sequences.each do |sequence| %>
            <% @total_time += sequence.duration %>
          <% end %>
          <p><%= image_tag 'duree_session.png', class: :sequence_icons %><%= "#{@total_time} min" if @total_time > 0 %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- DEBUT : Faire apparaitre si aucune sequence créée -->
  <div class="row">
    <div class="col-12">
      <div class="sequence-header">
        <h2>Créer une ou plusieurs séquences</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non magna ex. Nullam tempor vulputate sem, sit amet dignissim neque dictum ac. Donec elementum finibus sapien a scelerisque. Nulla consectetur enim ut augue euismod, ut egestas libero gravida. Curabitur ex lorem, hendrerit at ante eget, laoreet fermentum diam.</p>
      </div>
    </div>
  </div>
  <!-- FIN  -->
  <!-- DEBUT : Séquence -->
  <div class="row">
    <div class="col-12">
      <div class="sequence-content">
        <% @number_sequence = 0 %>
        <% @music_session.sequences.each do |sequence| %>
          <div class="sequence-description">
            <% @number_sequence += 1  %>
            <%= link_to '', shuffle_track_path(sequence), class: :btn_shuffle_song, style: "background:url(#{image_path 'cta_shuffle_song.svg'})" %>
            <h2>Séquence <%= @number_sequence %></h2>
            <p><%= image_tag 'titre_sequence.png', class: :sequence_icons %><%= sequence.name %></p>
            <p><%= image_tag 'duree_sequence.png', class: :sequence_icons %> <%= sequence.duration %> min</p>
            <><%= image_tag 'playlist_sequence.png', class: :sequence_icons %> <%= sequence.playlist_source_name %></p>

              <div>
                  <% sequence.tracks.each do |track| %>
                    <p><strong><%= track.title %></strong>: <%= track.artist %></p>
                  <%= link_to '', sequence_shuffle_a_track_path(sequence, track), class: :btn_shuffle_song, style: "background:url(#{image_path 'cta_shuffle_song.svg'})", data: {turbo_method: :shuffle, turbo_confirm: "Etes vous sur de vouloir modifier cette chanson?"} %>
                  <% end %>
              </div>
            <p><%= image_tag 'transition_sequence.png', class: :sequence_icons %> <%= sequence.transition %></p>
            <div class="buttons-navigation">
            <%= link_to '', edit_music_session_sequence_path(@music_session, sequence), class: :btn_modifier_sequence, style: "background:url(#{image_path 'cta_modifier_sequence.svg'})" %>    
            <%= link_to '', sequence_path(sequence), class: :btn_supprimer_sequence, style: "background:url(#{image_path 'cta_supprimer_sequence.svg'})", data: {turbo_method: :delete, turbo_confirm: "Etes vous sur de vouloir supprimer cette séquence?"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- FIN : Séquence -->
  <div class="row">
    <div class="col-12">
      <div class="sequence-footer">
        <%= link_to '', new_music_session_sequence_path(@music_session), class: :btn_ajouter, style: "background:url(#{image_path 'cta_ajouter.svg'})" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% if @number_sequence > 0 %>
          <button type="button" class="btn btn-dark">Jouer ma session</button>
      <% else %>
          <button type="button" class="d-none btn btn-dark">Jouer ma session</button>
      <% end %>
      <%= link_to 'Valider cette session', music_sessions_path(@music_session), class: :btn_home_black, style: "text-decoration:none;" %>
    </div>
  </div>
</div>
