<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mb-1">
        <h1 class="titre-page">Connexion</h1>
      </div>
      <div class="form-content">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-inputs form-connexion">
            <%= f.input :email,
                        label: "Adresse-email",
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: 'my_input focus-only' } %>
            <%= f.input :password,
                        label: "Mot de passe",
                        required: false,
                        input_html: { autocomplete: "current-password", class: 'my_input focus-only' } %>
            <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Se connecter", class: :btn_connexion_black %>
          </div>
        <% end %>
      </div>
      <div class="connect-with-spotify">
        <div class="ou">
          <p><span class="VNztd cSypyy">ou</span></p>
          <hr class="gjuJVb">
        </div>
        <div class="connect-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
