<h1>Créer une nouvelle séquence</h1>

<%= simple_form_for [@music_session, @sequence] do |f| %>
  <%= f.input :name, :label => "Nom", placeholder: "Entrer le nom de votre sequence" %>
  <%= f.input :duration, :label => "Durée" %>
  <%= f.input :playlist_source_name, :label => "Playlist", collection: Sequence::SELECT_SEQ %>
  <%= f.input :transition, collection: Sequence::SELECT_TRANS %>
  <%= f.submit "Créer la séquence" %>
<% end %>
<button type="button" class="btn btn-dark"><%= link_to 'Retour', music_session_path(@music_session) %></button>
