<div class="container">
  <div class="row">
    <div class="col-12 mb-1">
      <div class="mb-1">
        <p class="titre-page">Créer une nouvelle séquence</p>
      </div>
      <div class="form-content">
        <%= simple_form_for [@music_session, @sequence] do |f| %>
          <%= f.input :name, :label => "Nom", placeholder: "Entrer le nom de votre sequence", label_html: { class: 'my_input_label' }, input_html: { class: 'my_input focus-only' } %>
          <%= f.input :duration, :label => "Durée", label_html: { class: 'my_input_label' }, input_html: { class: 'my_input focus-only' } %>
          <%= f.input :playlist_source_name, :label => "Playlist", collection: current_user.spotify_playlists, as: :select, label_html: { class: 'my_input_label' }, input_html: { class: 'my_select_input focus-only' } %>
          <%= f.input :transition, collection: Sequence::SELECT_TRANS, as: :select, label_html: { class: 'my_input_label' }, input_html: { class: 'my_select_input focus-only' } %>
          <%= f.submit "", class: :btn_next, style: "background:url(#{image_path 'cta_next_2.svg'})" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
